.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  // Converting the grid item to be a grid container
  display: grid;

  // Subgrid: it allows a grid that is inside a grid to like snap its tracks in the
  // parent grid. For example, align its columns with the columns of the parent grid.
  grid-template-columns: subgrid;
  grid-gap: 6rem;

  .feature {
    &:nth-child(3n + 1) {
      grid-column: 1 / span 2;
    }
    &:nth-child(3n + 2) {
      grid-column: 4 / span 2;
    }
    &:nth-child(3n + 3) {
      grid-column: 7 / span 2;
    }
  }
}
