.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  // Converting the grid item to be a grid container
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  // Doing it responsiveness
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6em;

  // Moving all of the text up the column axis
  align-items: start;
}

// This feature component would be reusable in another page.
// So it's completely independent from the features class.
// But I still put them in the same file though, because they are closely related.
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    // -1 is not the end of the grid but the last explicit grid line.
    // So we specify span 2 instead of -1
    //grid-row: 1 / -1;
    // So, -1 only works with an explicit grid, but we have an implicit grid, because
    // we didn't define the rows.
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
